<a href="https://colab.research.google.com/github/PWRScript/afterschool-machine-learning/blob/main/exercicios/Aula%205%20-%20Exerc%C3%ADcio%20resolvido%20-%20Preveja%20se%20um%20dado%20paciente%20%C3%A9%20diab%C3%A9tico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício resolvido em branco

## Enunciado

Neste exercício, pretendemos prever se um dado paciente é diabético ou não. Para tal, vamos ter em consideração diversas características destes pacientes, tais como a sua idade, tensão arterial e índice de massa corporal.

## Dados

* Número de observações = 768
* Número de variáveis independentes = 9
 1. Pregnancies = número de gravidezes
 1. Glucose = nível de glicose (mg/dL)
 1. BloodPressure = pressão arterial diastólica (mmHg)
 1. SkinThickness = espessura da dobra da pele do tríceps (mm)
 1. Insulin = nível de insulina (mu U/ml)
 1. BMI = índice de massa corporal (kg/m^2)
 1. DiabetesPedigreeFunction = propensão genética para a diabetes (de acordo com uma função específica)
 1. Age = idade (anos)
* Número de variáveis dependentes = 1
 1. Outcome = diz-nos se um paciente é diabético (1) ou não (0)


Dados disponíveis em: https://raw.githubusercontent.com/pmarcelino/datasets/master/diabetes.csv

# Resolução

In [ ]:
# importar bibliotecas
import pandas as pd
import seaborn as sb


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
# Obter dados
url = "https://raw.githubusercontent.com/pmarcelino/datasets/master/diabetes.csv"
data = pd.read_csv(url)
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
# Verificar dados em falta
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
# Verificar anormalias
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# Corrigir anormalias
data = data.drop(data[data["Glucose"] == 0].index)
data = data.drop(data[data["Insulin"] == 0].index)
data = data.drop(data[data["BloodPressure"] == 0].index)
data = data.drop(data[data["SkinThickness"] == 0].index)
data = data.drop(data[data["BMI"] == 0].index)

In [ ]:
# Verificar anormalias
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# Definir variáveis independentes e dependente
X = data.drop("Outcome", axis=1)
y = data['Outcome']

In [ ]:
# Definir algoritmo do modelo
model = RandomForestClassifier(random_state=20)

In [ ]:
# Avaliar modelo validação cruzada (taxa acerto)
score = cross_val_score(model,X,y,cv=5)
score

array([0.78481013, 0.69620253, 0.78205128, 0.83333333, 0.80769231])

In [ ]:
# Estimar desempenho modelo
score_mean = score.mean()
score_mean

0.7808179162609543

In [ ]:
# Avaliar modelo validação cruzada (sensibilidade)
score = cross_val_score(model,X,y,scoring="recall",cv=5)
score

array([0.57692308, 0.53846154, 0.46153846, 0.69230769, 0.69230769])

In [ ]:
# Estimar desempenho modelo
score_mean = score.mean()
score_mean

0.5923076923076923