<a href="https://colab.research.google.com/github/PWRScript/afterschool-machine-learning/blob/main/exercicios/Aula%205%20-%20Exerc%C3%ADcio%20em%20aberto%20-%20Preveja%20o%20peso%20de%20um%20pinguim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício em aberto

## Enunciado

Neste exercício, pretendemos prever a massa corporal dos pinguins. Para tal, vamos ter em consideração diversas características dos pinguins, tais como a profundidade do culmen (bico), o comprimento das barbatanas e o género sexual.

## Dados

* Número de observações = 344
* Número de variáveis independentes = 6
 1. species = espécie à qual o pinguim pertence
 1. island = ilha na qual o pinguim habita
 1. culmen_length_mm = comprimento do culmen (bico) (mm)
 1. culmen_depth_mm = profundidade do culmen (mm)
 1. flipper_length_mm = comprimento das barbatanas (mm)
 1. sex = sexo (*male* para macho e *female* para fêmea)
* Número de variáveis dependentes = 1
 1. body_mass_g = massa corporal (gr)

Dados disponíveis em: https://raw.githubusercontent.com/pmarcelino/datasets/master/penguins.csv

## Instruções

Na tua resolução deves:

* Treinar o modelo com todas as variáveis independentes indicadas no enunciado.
* Utilizar validação cruzada.

# Resolução

In [14]:
# Importar bibliotecas 
import pandas as pd  
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

In [4]:
# Importar dados
url = 'https://raw.githubusercontent.com/pmarcelino/datasets/master/penguins.csv'
data = pd.read_csv(url)
data

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [5]:
# Verificar se há dados em falta
data.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [6]:
# Remover dados em falta
data = data.dropna()

In [7]:
# Verificar se há dados em falta
data.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [8]:
# Verificar se há erros e anomalias
data.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        333.000000       333.000000         333.000000   333.000000
mean          43.992793        17.164865         200.966967  4207.057057
std            5.468668         1.969235          14.015765   805.215802
min           32.100000        13.100000         172.000000  2700.000000
25%           39.500000        15.600000         190.000000  3550.000000
50%           44.500000        17.300000         197.000000  4050.000000
75%           48.600000        18.700000         213.000000  4775.000000
max           59.600000        21.500000         231.000000  6300.000000

In [15]:
# Codificar variáveis

encoder = LabelEncoder()
encoder = encoder.fit(data['species'])
encoded = encoder.transform(data['species'])
data['species'] = encoded

encoder = LabelEncoder()
encoder = encoder.fit(data['island'])
encoded = encoder.transform(data['island'])
data['island'] = encoded

encoder = LabelEncoder()
encoder = encoder.fit(data['sex'])
encoded = encoder.transform(data['sex'])
data['sex'] = encoded

<ipython-input-15-bad4a3404bb4>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['species'] = encoded
<ipython-input-15-bad4a3404bb4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['island'] = encoded
<ipython-input-15-bad4a3404bb4>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex'] = encoded

In [16]:
# Variáveis dependentes e independentes
x = data.drop("body_mass_g", axis=1)
y = data["body_mass_g"]

In [17]:
# Modelo
model = RandomForestRegressor(random_state=5)

In [20]:
# Avaliar modelo com validação cruzada (taxa de acerto)
score = cross_val_score(model, x, y, cv=10)
score

array([ 0.58802109,  0.5434473 ,  0.47353936,  0.32337444, -0.0097938 ,
        0.42815297,  0.82576426,  0.62591716,  0.76086568,  0.57718361])

In [21]:
# Estimar desempenho do modelo
score_mean = score.mean()
score_mean

0.5136472070186944