<a href="https://colab.research.google.com/github/PWRScript/afterschool-machine-learning/blob/main/exercicios/Aula%204%20-%20Exerc%C3%ADcio%20em%20aberto%20-%20Preveja%20o%20comprimento%20das%20p%C3%A9talas%20de%20uma%20flor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício em aberto

## Enunciado

Neste exercício, pretendemos prever o comprimento das pétalas de uma flor. Para tal, vamos ter em consideração a sua espécie e as suas características físicas, tais como o comprimento e a largura das suas sépalas.

## Dados

* Número de observações = 150
* Número de variáveis independentes = 4
 1. species = espécie (a flor pode pertencer a uma de três espécies, 'setosa', 'versicolor' e 'virginica')
 1. sepal_length = comprimento das sépalas (cm)
 1. sepal_width = largura das sépalas (cm)
 1. petal_width = largura das pétalas (cm)
* Número de variáveis dependentes = 1
 1. petal_length = comprimento das pétalas (cm)
 

Dados disponíveis em: [biblioteca seaborn](https://seaborn.pydata.org/generated/seaborn.load_dataset.html)

## Instruções

Na tua resolução deves:

* Criar um modelo que utilize todas as variáveis independentes indicadas no enunciado. Isto implica que uses a variável **'species'** como variável independente.

# Resolução

In [21]:
# importar bibliotecas
import pandas as pd
import seaborn as sb

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder

In [22]:
# Carregar dataset
data = sb.load_dataset("iris")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [23]:
# Verificar se faltam dados
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [24]:
# Verificar anormalias e erros
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [25]:
# Codificar variáveis
encoder = LabelEncoder()
encoder = encoder.fit(data['species'])
encoded = encoder.transform(data['species'])

data['species'] = encoded

In [26]:
# Variáveis dependentes e independentes
x = data.drop("petal_length", axis=1)
y = data["petal_length"]

In [27]:
# Dividir conjunto de dados em dados de treino e dados de teste
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=0)

In [28]:
# Algoritimo de treino
model = RandomForestRegressor(random_state=33)

In [29]:
# Treinar o modelo
model.fit(x_train,y_train)

RandomForestRegressor(random_state=33)

In [30]:
# Fazer previsão
y_pred = model.predict(x_test)

In [31]:
# Avaliar taxa de acerto do modelo
r2_score(y_test, y_pred)

0.9692237548772188