# Exercício resolvido em branco

## Enunciado

Neste exercício, pretendemos prever se um dado passageiro do Titanic sobreviveu ou não. Para tal, vamos ter em consideração diversas características destes passageiros, tais como a classe em que viajavam, a sua idade e o seu género sexual.

## Dados

* Número de observações = 756
* Número de variáveis independentes = 4
 1. Name = nome do passageiro
 1. PClass = classe em que o passageiro viajava
 1. Age = idade do passageiro (anos)
 1. Sex = género sexual do passageiro (1 se feminino, 0 se masculino)
* Número de variáveis dependentes = 1
 1. Survived = diz-nos se um passageiro sobreviveu (1) ou não (0)


Dados disponíveis em: https://raw.githubusercontent.com/pmarcelino/datasets/master/titanic-00.csv

# Resolução

Importar Bibliotecas

In [ ]:
# Preparação de dados
import pandas as pd

# Exploração de dados
import seaborn as sb

# Treinar e avaliar modelos
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

Obter dados

In [ ]:
url = "https://github.com/pmarcelino/datasets/raw/master/titanic-00.csv"
data = pd.read_csv(url)
data

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1,29.00,1,1
1,"Allison, Miss Helen Loraine",1,2.00,1,0
2,"Allison, Mr Hudson Joshua Creighton",1,30.00,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1,25.00,1,0
4,"Allison, Master Hudson Trevor",1,0.92,0,1
...,...,...,...,...,...
751,"Zakarian, Mr Artun",3,27.00,0,0
752,"Zakarian, Mr Maprieder",3,26.00,0,0
753,"Zenni, Mr Philip",3,22.00,0,0
754,"Lievens, Mr Rene",3,24.00,0,0
755,"Zimmerman, Leo",3,29.00,0,0

Relação entre classe dos passageiros e idade

In [ ]:
sb.boxplot(x="PClass", y="Survived", data=data)

NameError: ignored

Variáveis

In [ ]:
# Selecionar variáveis independentes
x = data[["PClass", "Age", "Sex"]]
# Selecionar variáveis dependentes
y = data["Survived"]

Dividir conjunto de dados de treino do conjunto de dados de teste

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=1)

Treinar Modelo

In [ ]:
# Definir algoritmo do modelo
model = RandomForestClassifier(random_state=9)
# Treinar o modelo
model.fit(x_train,y_train)

RandomForestClassifier(random_state=9)

Fazer previsão

In [ ]:
y_pred = model.predict(x_test)

Taxa de acerto do modelo

In [ ]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.7883597883597884